<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Resizer preferences</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.iconresizer</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.evilgoldfish.iconresizer</string>
			<key>key</key>
			<string>resizesbiconview</string>
			<key>label</key>
			<string>Center labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Resize icons</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.evilgoldfish.iconresizer.plist</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>footer-title</key>
					<string>Use the settings to resize icons on the home screen.</string>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>text</key>
					<string>Default</string>
					<key>cell-class-name</key>
					<string>ALDisclosureIndicatedCell</string>
					<key>action</key>
					<string>showPreferences</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>display-identifier-macro</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
					<key>entry</key>
					<dict>
						<key>PostNotification</key>
						<string>com.evilgoldfish.iconresizer.settingschanged</string>
						<key>cell</key>
						<string>PSLinkListCell</string>
						<key>default</key>
						<string>0</string>
						<key>defaults</key>
						<string>com.evilgoldfish.iconresizer</string>
						<key>detail</key>
						<string>PSListItemsController</string>
						<key>key</key>
						<string>@@DISPLAYIDENTIFIER@@</string>
						<key>validTitles</key>
						<array>
							<string>Default</string>
							<string>20</string>
							<string>21</string>
							<string>22</string>
							<string>23</string>
							<string>24</string>
							<string>25</string>
							<string>26</string>
							<string>27</string>
							<string>28</string>
							<string>29</string>
							<string>30</string>
							<string>31</string>
							<string>32</string>
							<string>33</string>
							<string>34</string>
							<string>35</string>
							<string>36</string>
							<string>37</string>
							<string>38</string>
							<string>39</string>
							<string>40</string>
							<string>41</string>
							<string>42</string>
							<string>43</string>
							<string>44</string>
							<string>45</string>
							<string>46</string>
							<string>47</string>
							<string>48</string>
							<string>49</string>
							<string>50</string>
							<string>51</string>
							<string>52</string>
							<string>53</string>
							<string>54</string>
							<string>55</string>
							<string>56</string>
							<string>57</string>
							<string>58</string>
							<string>59</string>
							<string>60</string>
							<string>61</string>
							<string>62</string>
							<string>63</string>
							<string>64</string>
							<string>65</string>
							<string>66</string>
							<string>67</string>
							<string>68</string>
							<string>69</string>
							<string>70</string>
							<string>71</string>
							<string>72</string>
							<string>73</string>
							<string>74</string>
							<string>75</string>
							<string>76</string>
							<string>77</string>
							<string>78</string>
							<string>79</string>
							<string>80</string>
							<string>81</string>
							<string>82</string>
							<string>83</string>
							<string>84</string>
							<string>85</string>
							<string>86</string>
							<string>87</string>
							<string>88</string>
							<string>89</string>
							<string>90</string>
							<string>91</string>
							<string>92</string>
							<string>93</string>
							<string>94</string>
							<string>95</string>
							<string>96</string>
							<string>97</string>
							<string>98</string>
							<string>99</string>
							<string>100</string>
							<string>101</string>
							<string>102</string>
							<string>103</string>
							<string>104</string>
							<string>105</string>
							<string>106</string>
							<string>107</string>
							<string>108</string>
							<string>109</string>
							<string>110</string>
							<string>111</string>
							<string>112</string>
							<string>113</string>
							<string>114</string>
							<string>115</string>
							<string>116</string>
							<string>117</string>
							<string>118</string>
							<string>119</string>
							<string>120</string>
						</array>
						<key>validValues</key>
						<array>
							<integer>0</integer>
							<integer>20</integer>
							<integer>21</integer>
							<integer>22</integer>
							<integer>23</integer>
							<integer>24</integer>
							<integer>25</integer>
							<integer>26</integer>
							<integer>27</integer>
							<integer>28</integer>
							<integer>29</integer>
							<integer>30</integer>
							<integer>31</integer>
							<integer>32</integer>
							<integer>33</integer>
							<integer>34</integer>
							<integer>35</integer>
							<integer>36</integer>
							<integer>37</integer>
							<integer>38</integer>
							<integer>39</integer>
							<integer>40</integer>
							<integer>41</integer>
							<integer>42</integer>
							<integer>43</integer>
							<integer>44</integer>
							<integer>45</integer>
							<integer>46</integer>
							<integer>47</integer>
							<integer>48</integer>
							<integer>49</integer>
							<integer>50</integer>
							<integer>51</integer>
							<integer>52</integer>
							<integer>53</integer>
							<integer>54</integer>
							<integer>55</integer>
							<integer>56</integer>
							<integer>57</integer>
							<integer>58</integer>
							<integer>59</integer>
							<integer>60</integer>
							<integer>61</integer>
							<integer>62</integer>
							<integer>63</integer>
							<integer>64</integer>
							<integer>65</integer>
							<integer>66</integer>
							<integer>67</integer>
							<integer>68</integer>
							<integer>69</integer>
							<integer>70</integer>
							<integer>71</integer>
							<integer>72</integer>
							<integer>73</integer>
							<integer>74</integer>
							<integer>75</integer>
							<integer>76</integer>
							<integer>77</integer>
							<integer>78</integer>
							<integer>79</integer>
							<integer>80</integer>
							<integer>81</integer>
							<integer>82</integer>
							<integer>83</integer>
							<integer>84</integer>
							<integer>85</integer>
							<integer>86</integer>
							<integer>87</integer>
							<integer>88</integer>
							<integer>89</integer>
							<integer>90</integer>
							<integer>91</integer>
							<integer>92</integer>
							<integer>93</integer>
							<integer>94</integer>
							<integer>95</integer>
							<integer>96</integer>
							<integer>97</integer>
							<integer>98</integer>
							<integer>99</integer>
							<integer>100</integer>
							<integer>101</integer>
							<integer>102</integer>
							<integer>103</integer>
							<integer>104</integer>
							<integer>105</integer>
							<integer>106</integer>
							<integer>107</integer>
							<integer>108</integer>
							<integer>109</integer>
							<integer>110</integer>
							<integer>111</integer>
							<integer>112</integer>
							<integer>113</integer>
							<integer>114</integer>
							<integer>115</integer>
							<integer>116</integer>
							<integer>117</integer>
							<integer>118</integer>
							<integer>119</integer>
							<integer>120</integer>
						</array>
						<key>bundle</key>
						<string>AppList</string>
						<key>isController</key>
						<string>1</string>
						<key>overridePrincipalClass</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>id</key>
			<string>respring</string>
			<key>action</key>
			<string>respring</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset settings and respring</string>
			<key>id</key>
			<string>resetAndRespring</string>
			<key>action</key>
			<string>resetAndRespring</string>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Default icon size</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>62</integer>
			<key>defaults</key>
			<string>com.evilgoldfish.iconresizer</string>
			<key>key</key>
			<string>defaultsize</string>
			<key>label</key>
			<string>Size of all icons</string>
			<key>max</key>
			<integer>120</integer>
			<key>min</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Newsstand size</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>62</integer>
			<key>defaults</key>
			<string>com.evilgoldfish.iconresizer</string>
			<key>key</key>
			<string>com.apple.newsstand</string>
			<key>label</key>
			<string>Size of Newsstand</string>
			<key>max</key>
			<integer>120</integer>
			<key>min</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.evilgoldfish.iconresizer.settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.evilgoldfish.iconresizer</string>
			<key>key</key>
			<string>disablegridlock</string>
			<key>label</key>
			<string>Place icons anywhere</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You need to respring before any changes will work.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>By evilgoldfish.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Icon Resizer</string>
</dict>
</plist>
